<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Hotel Manager Main Page</a>
      </div>
      <div class="nav  navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a (click)="main(hotel)">HomePage</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Shortcut <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a (click)="modifyP(hotel)">Change Password</a></li>
              <li><a (click)="comp(hotel)">Complete info</a></li>
              <li class="divider"></li>
              <li><a (click)="hotelman(hotel)">Manage Hotel</a></li>
              <li><a (click)="hmorder(hotel)">Order</a></li>
            </ul>
          </li>
          <li class="nav navbar-nav navbar-right">
            <a href="/mainpage">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <ol class="breadcrumb">
      <li><a (click)="main(hotel)">Home</a></li>
      <li><a (click)="main(hotel)">{{hotel.userAccount}}</a></li>
      <li class="active">Manage Hotel</li>
  </ol>
  <div id="user" class="well well-lg">
      <ul class="nav nav-pills nav-stacked">
        <li ><a (click)="main(hotel)">Home-{{hotel.userAccount}}</a></li>
        <li ><a (click)="modifyP(hotel)">Change Password</a></li>
        <li><a (click)="comp(hotel)">Complete info</a></li>
        <li class="active"><a (click)="hotelman(hotel)">Managehotel</a></li>
        <li><a (click)="hmorder(hotel)">Order</a></li>
      </ul>
  </div>
  <div id="main" class="well well-lg" >
      <div id="inner">
          <form id="form1" action="" method="post">
              <table>
                    <tr>
                      <td>Your Hotel Name
                      </td>
                      <td><div class="input-group">		
                        <span class="input-group-addon">▽</span>
                        <input class="form-control" id="hotelname" value="{{hotel.name}}" [(ngModel)]="name" placeholder="Please input Hotel Name" name="hotelname" style="width: 385px; "></div>
                      </td>
                    </tr>
                    <tr>
                        <td>Hotel Address</td>
                        <td><div class="input-group"><span class="input-group-addon"> △</span>
                          <input  class="form-control" id="hoteladdress" [(ngModel)]="location" value="{{hotel.location}}" placeholder="Please input Hotel Address" name="hoteladdress" style="width: 385px; "></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Hotel Telephone 
                        </td>
                        <td><div class="input-group"><span class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span></span>
                          <input  class="form-control" value="{{hotel.phone}}" [(ngModel)]="phone" onkeyup="value=value.replace(/\D/g,'')"  id="tel" placeholder="Please input Hotel Telephone" name="tel" style="width: 385px; "></div>
                        </td>
                    </tr>
                    <tr>
                      <td>Hotel Price
                      </td>
                      <td><div class="input-group"><span class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span></span>
                        <input class="form-control" value="{{hotel.price}}" [(ngModel)]="price" onkeyup="value=value.replace(/\D/g,'')" id="price" placeholder="Please input Hotel Price" name="price" style="width: 385px; "></div>
                      </td>
                  </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        <input type="button" id="verdict" value="Modify Hotel Information" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#myModal" >
                        </td> 
                    </tr>
              </table>
          </form>
          <!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">
                Are you confirmed to update your hotel information?
              </h4>
            </div>
            <div class="modal-body">Before you push this button, we have to make sure your decision again.
  
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close
              </button>
              <button type="submit" class="btn btn-primary" (click)="updateProfile()">
                Change instantly 
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal -->
      </div>
      </div>
  </div>