.btn-large{
  float:right;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full{
  padding: 9px;
}

.thumbnail{
  padding: 0;
}

.form-control{
  height:auto;
  margin-bottom: 20px;
}

#search-form{
  display:inline;
}
