<html>
  <title>Admin login</title>
  <body>
    <div class=header>
      Welcome Administrator login
    </div>
    
        <div class=pic1>
          <img src="../../assets/65da1ebd445b5ea8bc5628edfc5f8569.jpg" width="260" height="500" />
        </div>
        <div class=body>
        
            <div class=AU>Administrator username：
		            <input type="password"   id="username"  name="passwordprevious" style="width: 300px"><br>
		        </div><br><br>
		        <div class=PW>Password:
                <input type="password"   id="password"  name="passwordprevious" style="width: 300px"> <br>
            </div><br><br>
            <button (click)="checkadmin()" >Login</button>
		
          </div>
          <div class=pic2>
              <img src="../../assets/4939da2b1cbe627cb885ab1c69c2c9cb.jpg" width="280" height="500" />
          </div>

    
  <div class=logo>
      <img id="hotel" src="../../assets/InterContinental_Hotels_logo.jpg" width="180" height="80" /> 
      <img id="hotel" src="../../assets/Hilton.jpg" width="180" height="80" />
      <img id="hotel" src="../../assets/Marriott_Logo.svg.jpg" width="180" height="80" />
      <img id="hotel" src="../../assets/1200px-Crowne_Plaza_logo.svg.jpg" width="180" height="80" />
      <img id="hotel" src="../../assets/Holiday_Inn_Logo.svg.jpg" width="180" height="80" />
      <img id="hotel" src="../../assets/c2cec3fdfc0392457447fd538594a4c27c1e25ff.jpg" width="180" height="80" />
      <img id="hotel" src="../../assets/th.jpg" width="180" height="80" />
  </div>
  </body>
</html>