#main{
    position:absolute;
    top:200px;
    left:500px;
    width:800px;
    height:500px;
    }
#user{
    position:absolute;
    top:200px;
    left:100px;
}
#inner{
    position:relative;
    top:30px;
    left:20px;

}